{% extends "account/auth_base.html" %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load static %}


{% block title %}
    Login
{% endblock %}

{% block content %}

    <body class="vh-100 ">
    {% include "components/navbar.html" %}

    <div class="container h-100   " style="margin-top: 3rem">
        <div class="row">
            <div class="col-sm- col-md-12 col-lg-5 mx-auto">
                <div style="background-color: #78d5ef !important;"
                     class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h3 class="card-title text-center mb-5 text-white">Sign In</h3>
                        {% if pswderr %}
                            <div class="alert alert-danger" role="alert">
                                {{ pswderr }}
                            </div>
                        {% endif %}
                        <div class="text-center">
                            <form class="row contact_form" action="/login/?{{ request.META.QUERY_STRING }}"
                                  method="post">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input
                                            type="text"
                                            name="email"
                                            class="form-control"
                                            id="floatingInput"
                                            placeholder="username"
                                    />
                                    <label for="floatingInput"> &nbsp;&nbsp;&nbsp;Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input
                                            type="password"
                                            class="form-control"
                                            name="password"
                                            id="floatingPassword"
                                            placeholder="Password"
                                    />
                                    <label for="floatingPassword">&nbsp;&nbsp;&nbsp;Password</label>
                                </div>

                                {#                                <div class="form-floating mb-3">#}
                                {#                                    <a class="link-fancy link-fancy-light" href="#"> Forgot Password </a>#}
                                {#                                </div>#}
                                <div class="d-grid">
                                    <button
                                            class="btn btn-primary btn-login text-uppercase fw-bold"
                                            type="submit"
                                    >
                                        Sign in
                                    </button>
                                </div>

                            </form>
                            <hr class="my-4"/>
                            <div class="d-grid mb-2">


                            </div>
                            <div class="mt-5 w-100">
                                <p class="text-white">Don't have an account? </p><a class="link-fancy link-fancy-light"
                                                                                    href="{% url "signup" %}"> Sign
                                Up </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}
